<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username:" %><br>
  <%= form.text_field :username %><br>
  <%= form.label :email, "Email:" %><br>
  <%= form.email_field :email %><br>
  <%= form.label :password, "Password:" %><br>
  <%= form.password_field :password %><br>
  <%= form.submit "Update User" %>
<% end %>

<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <br>
  <%= text_field_tag(:username) %>
  <br>
  <%= label_tag(:email, "Email:") %>
  <br>
  <%= email_field_tag(:email) %>
  <br>
  <%= label_tag(:password, "Password:") %>
  <br>
  <%= password_field_tag(:password) %>
  <br>
  <%= submit_tag("Create User")%>
<% end %>
-->

<!-- 
<form action="/users" method="post" accept-charset="UTF-8">
<label for="username">Username:</label>
<br>
<input type="text" id="username" name="user[username]" required>
<br>
<label for="">Email:</label>
<br>
<input type="email" id="email" name="user[email]" required>
<br>
<label for="">Password:</label>
<br>
<input type="password" id="password" name="user[password]" required>
<br>
<br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Create User">
</form> 
-->